:root {
  --Main-Black: #101010;
  --Main-Gray: #2b2b2b;
  --Main-White: #ebebeb;
  --Main-Red: #bb3737;
  --Main-Blue: #4b73c0;
  --Main-Yellow: #d2ad4c;
}
@font-face {
  font-family: American Typewriter;
  font-weight: 400;
  src: url(fonts/American-Typewriter/American-Typewriter.ttf);
}
@font-face {
  font-family: American Typewriter;
  font-weight: 700;
  src: url(fonts/American-Typewriter/American-Typewriter-Bold.ttf);
}
@font-face {
  font-family: American Typewriter;
  font-weight: 300;
  src: url(fonts/American-Typewriter/American-Typewriter-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Main-Black);
}
body,
html,
root {
  overflow: hidden;
}
